<div class="card-body" [formGroup]="formSection">
  <h2 class="laoweb">ຂໍ້ມູນຫນ່ວຍງານ</h2>
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="ID">ID</label>
        <input
          type="text"
          name="ID"
          id="ID"
          class="form-control"
          placeholder="ID"
          value="0"
          readonly
          formControlName="id"
        />
      </div>
      <div class="col-6">
        <label for="code">Code</label>
        <input
          type="text"
          name="code"
          id="code"
          class="form-control"
          placeholder="Code"
          formControlName="code"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">ຊື່ພາສາລາວ</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      placeholder="ຊື່ພາສາລາວ"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="nameEn">ຊື່ພາສາອັງກິດ</label>
    <input
      type="text"
      name="nameEn"
      id="nameEn"
      class="form-control"
      placeholder="ຊື່ພາສາອັງກິດ"
      formControlName="nameEn"
    />
  </div>
  <div class="form-group">
    <label for="status"> ສະຖານະ</label>

    <select
      name="status"
      id="status"
      class="form-control"
      formControlName="status"
    >
      <option value="ACTIVE">ACTIVE</option>
      <option value="INACTIVE">INACTIVE</option>
    </select>
  </div>
  <div class="form-group">
    <button
      class="btn btn-sm btn-primary"
      [disabled]="!formSection.valid"
      (click)="confirmCreate()"
    >
      ບັນທຶກ
    </button>
    &nbsp;
    <button class="btn btn-sm btn-secondary" (click)="onNoClick('CANCEL')">
      ຍົກເລີກ
    </button>
  </div>
</div>
