<div class="row">
  <div class="col">
    <div class="col-12 mt-2">
      <label for="job_position">ຕຳແຫນ່ງງານ</label>
      <select
        name="job_position"
        id="job_position"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>

    <div class="col-12 mt-2">
      <label for="job_department">ພະແນກ</label>
      <select
        name="job_department"
        id="job_department"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
    <div class="col-12 mt-2">
      <label for="job_division">ຫນ່ວຍງານ</label>
      <select
        name="job_division"
        id="job_division"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
    <div class="col-12 mt-2">
      <label for="job_section">ຝ່າຍງານ</label>
      <select
        name="job_section"
        id="job_section"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div class="col-12 mt-2">
      <label for="job_employee_type">ປະເພດພະນັກງານ</label>
      <select
        name="job_employee_type"
        id="job_employee_type"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>

    <div class="col-12 mt-2">
      <label for="job_working_type">ປະເພດການເຮັດວຽກ</label>
      <select
        name="job_working_type"
        id="job_working_type"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
    <div class="col-12 mt-2">
      <label for="job_dependence">ຫົວຫນ້າທີມ</label>
      <select
        name="job_dependence"
        id="job_dependence"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
  </div>
</div>
