<!-- Content Header (Page header) -->
<div class="content-header laoweb">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2 class="laoweb m-0" [innerHTML]="page.pagename"></h2>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol
          class="breadcrumb float-sm-right"
          [innerHTML]="page.breadcrumb"
        ></ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
