<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <button class="btn btn-sm btn-outline-info" (click)="gotoform()">
          <i class="fa fa-plus"></i>
          ເພີ່ມໃຫມ່
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="col-12">
      <div class="table-responsive" style="overflow-x: auto">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-boarderd row-border hover"
        >
          <thead>
            <tr>
              <th>No.</th>
              <th>ID</th>
              <th>ລະຫັດປ້ຳໂມງ</th>
              <th>ຊື່ພະນັກງານ</th>
              <th>ສັງກັດພະແນກ</th>
              <th>ຫນ່ວຍງານ</th>
              <th>ລາພັກວັນທີ</th>
              <th>ປະເພດການລາພັກ</th>
              <th>ເຫດຜົນການລາພັກ</th>
              <!-- <th>ຄຳເຫັນຫົວຫນ້າງານ</th> -->

              <th>ຄຳເຫັນ HR</th>
              <th>ສະຖານະ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.fpUserId }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.departmentName }}</td>
              <td>{{ item.sectionName }}</td>
              <td class="text-nowrap">
                {{ item.datefrom | date: "dd/MM/yyyy" }} -
                {{ item.dateto | date: "dd/MM/yyyy" }} ( {{ item.total }} ວັນ )
              </td>
              <td class="text-nowrap">{{ item.leaveTypeName }}</td>
              <td>{{ item.remark }}</td>
              <!-- <td>{{ item.approvalNote }}</td> -->
              <td>{{ item.hrApprovalNote }}</td>
              <td>
                <div [innerHTML]="statusDetail(item.status)"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
