<!-- <button class="btn btn-sm btn-outline-info" (click)="openDialog()">
  <i class="fa fa-plus"></i>
  ຜູ້ໃຊ້ໃຫມ່
</button> -->
<div class="card-body">
  <h4 class="laoweb">ຂໍ້ມູນຜູ້ໃຊ້ໃຫມ່</h4>
  <div class="row mt-1">
    <div class="col">
      <label for="ID">ID</label>
      <input
        type="text"
        name="ID"
        id="ID"
        class="form-control form-control-sm"
        placeholder="ID"
        value="0"
        readonly
      />
    </div>
    <div class="col">
      <label for="user_role">ຖານະ</label>

      <select
        name="user_role"
        id="user_role"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <label for="username">Username</label>
      <input
        type="text"
        autocomplete="off"
        name="username"
        id="username"
        class="form-control form-control-sm"
        placeholder="Username"
        value=""
      />
    </div>
    <div class="col">
      <label for="password">Password</label>
      <input
        type="password"
        autocomplete="off"
        name="password"
        id="password"
        class="form-control form-control-sm"
        placeholder="password"
        value=""
      />
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <label for="employee">ຊື່ແລະນາມສະກຸນ</label>
      <input
        type="text"
        name="employee"
        id="employee"
        class="form-control form-control-sm"
        placeholder="ຊື່ແລະນາມສະກຸນ"
        value=""
        readonly
      />
    </div>
    <div class="col-1 mt-4">
      <button class="btn btn-sm btn-outline-info mt-2" (click)="openDialog()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <label for="department">ສັງກັດຫນ່ວຍງານ</label>
      <input
        type="department"
        name="department"
        id="department"
        class="form-control form-control-sm"
        placeholder="ສັງກັດຫນ່ວຍງານ"
        value=""
        readonly
      />
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <label for="user_rule">ສິດນຳໃຊ້</label>
      <select
        name="user_rule"
        id="user_rule"
        class="form-control form-control-sm"
      >
        <option value="0">ເລືອກ</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col w-100 table-responsive">
      <table class="table table-boarderd row-border hover">
        <thead>
          <tr>
            <th>No</th>
            <th>ສິດເຂົ້າເຖິງ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
