<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <label for="new-password">ລະຫັດຜ່ານໃຫມ່</label>
        <input
          type="password"
          name="new-password"
          id="new-password"
          class="form-control form-control-sm col-6"
          placeholder="ລະຫັດຜ່ານໃຫມ່"
          [(ngModel)]="newPassword"
        />
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button (click)="SaveChangePassword()" class="btn btn-primary">
          <i class="fa fas fa-save"></i> Save Change Password
        </button>
      </div>
    </div>
  </div>
</div>
